@import 'compass/css3/transform';

$mobile-ratio: .5;
$tablet-ratio: .75;
$desktop-ratio: .9;

$tablet-width: 64em;
$desktop-width: 80em;
$widescreen-width: 96em;

$base-font-size: 16px;
$base-em: $base-font-size / 1em;

@mixin mobile-only {
    @media only screen and (max-width: $tablet-width) {
        @content;
    }
}

@mixin tablet-only {
    @media only screen and (min-width: $tablet-width) and (max-width: $desktop-width) {
        @content;
    }
}

@mixin desktop-only {
    @media only screen and (min-width: $desktop-width) and (max-width: $widescreen-width) {
        @content;
    }
}

@mixin fixed-position($top: false, $right: false, $bottom: false, $left: false, $position: absolute, $origin: null) {
    @if $top { top: $top; }
    @if $right { right: $right; }
    @if $bottom { bottom: $bottom; }
    @if $left { left: $left; }
    @if $position { position: $position; }

    @if $origin != false {
        @if $origin == null {
            $origin: if($top, top, if($bottom, bottom, center)) if($left, left, if($right, right, center));
        }
        background-position: $origin;
    }
}

@mixin fixed-size($width: false, $height: false) {
    @if $width { width: $width; }
    @if $height { height: $height; }
}

@mixin fixed-element($source-url) {
    $url: '../assets/' + $source-url;
    background: url($url) no-repeat;
    @include fixed-size($width: image-width(absolute-path($url)),
                        $height: image-height(absolute-path($url)));
}

@mixin responsive-em { // Use when percentage is not available
    font-size: $base-font-size;

    @include mobile-only { font-size: ($base-font-size * $mobile-ratio); }
    @include tablet-only { font-size: ($base-font-size * $tablet-ratio); }
    @include desktop-only { font-size: ($base-font-size * $desktop-ratio); }
}
