@import 'compass/css3/animation';
@import 'compass/css3/transform';
@import 'utilities';

body, html {
    margin: 0;
    padding: 0;
}

.scene {
    clip: rect(auto, auto, auto, auto);
    height: 100vh;
    overflow: hidden;
}

.scene, .layer {
    margin: 0;
    padding: 0;
    width: 100%;
}

.layer {
    height: 100%;
    pointer-events: none;
    position: absolute;

    @include keyframes(floating) {
        0% { @include transform(translate(0)); }
        33% { @include transform(translate(-5%, 1%)); }
        67% { @include transform(translate(0, -2%)); }
        100% { @include transform(translate(5%, 1%)); }
    }

    .background {
        @include fixed-position($top: -5%, $left: -5%, $origin: false);
        @include fixed-size(110%, 110%);
        background: url('../images/bg-cloud.png') center / cover no-repeat;
    }

    .logo {
        @include fixed-element('jrf-logo.png');
        @include fixed-position($top: 2%, $left: 2%);
    }

    .roller-coaster {
        @include fixed-element('bg-rollercoaster.png');
        @include fixed-position($right: .03%, $bottom: .09%);
        @include on-narrow-screen { right: -5%; }
    }

    .balloon {
        @include fixed-element('bg-balloon.png');
        @include fixed-position($top: 38.1818182%, $right: 3.2926829%);
        @include animation(floating 15s ease infinite alternate);
    }

    .elephant {
        @include fixed-element('bg-elephant.png');
        @include fixed-position($right: 25.1829268%, $bottom: -2%);
        @include tiny-screen-only { right: 4%; }
        @include narrow-screen-only { right: 15%; }
    }

    .zeppelin {
        @include fixed-element('bg-zeppelin.png');
        @include fixed-position($top: 21.5909091%, $right: 10.7926829%);
        @include animation(floating 12s ease-in-out infinite alternate);
    }

    .ground {
        $height: 286px;

        background: url('../images/bg-ground.png') bottom center / cover no-repeat;
        height: #{$height / $base-font-size}em;
        width: 110%;

        @include fixed-position($bottom: -1em, $left: -6%, $origin: false);
        @include responsive-em;
    }

    .ice-cream-stand {
        @include fixed-element('bg-icecream.png');
        @include fixed-position($right: 10%, $bottom: 28.8636364%);
        @include animation(floating 6s ease-in-out infinite alternate-reverse);
    }

    .hot-balloon {
        @include fixed-element('bg-hotballoon.png');
        @include fixed-position($top: 15.7954545%, $left: 5.7926829%);
        @include animation(floating 7s ease-in-out infinite alternate);
    }

    .plane {
        @include fixed-element('bg-plane.png');
        @include fixed-position($top: 8.9772727%, $right: 30.9146341%);
        @include animation(floating 5s ease-in-out infinite alternate);
    }

    .stands {
        @include fixed-element('bg-stands.png');
        @include fixed-position($right: 51.2195122%, $bottom: -.5em);
        @include on-narrow-screen { right: 43%; }
    }

    .carousel {
        @include fixed-element('bg-carousel.png');
        @include fixed-position($right: 39.8902439%, $bottom: -.5em);
        @include on-narrow-screen { right: 30%; }
    }

    .tent {
        @include fixed-element('bg-tent.png');
        @include fixed-position($right: 19.8170732%, $bottom: -.5em);
        @include on-narrow-screen { right: 15%; }
    }

    .jrf-20 {
        @include fixed-element('bg-jrf20.png');
        @include fixed-position($right: 20.6707317%, $bottom: -.5em);
        @include on-narrow-screen { right: 10.67%; }
    }

    .left-bench {
        @include fixed-element('bg-benchleft.png');
        @include fixed-position($left: -5.304878%, $bottom: -.5em);
    }

    .right-bench {
        @include fixed-element('bg-benchright.png');
        @include fixed-position($right: 3.4878049%, $bottom: -.5em);
        @include on-narrow-screen { right: -14%; }
    }

    .popcorn {
        @include fixed-element('bg-popcorn.png');
        @include fixed-position($right: 17.195122%, $bottom: -.5em);
        @include on-narrow-screen { right: 5%; }
    }

    > :not(.fixed) {
        @include responsive-size;
    }

    .link {
        color: transparent;
        display: block;
        outline: none;
        pointer-events: all;
        text-decoration: none;

        &:hover, &:active { opacity: .9; }
    }
}

.ferris-wheel {
    @include fixed-position($bottom: 0, $left: 8.8%);
    @include fixed-size((690px / $base-em), (690px / $base-em));
    @include responsive-em;

    $wheel-duration: 30s;
    $cabin-count: 20;
    $cabins-height: (621px / $base-em);
    $cabins-width: (621px / $base-em);

    @include keyframes(wheel) {
        from { @include rotate(0deg); }
        to { @include rotate(360deg); }
    }

    @include on-narrow-screen { left: 2%; }

    .wheel {
        @include fixed-position($bottom: (69px / $base-em), $left: (69px / $base-em), $origin: false);
        @include fixed-size((551px / $base-em), (551px / $base-em));
        @include animation(wheel $wheel-duration linear infinite);
        background: url('../images/ferris-wheel.png') center / contain no-repeat;
    }

    .cabin {
        @include fixed-size(85%, 85%);
        @include fixed-position($bottom: 7.5%, $left: 7.5%, $origin: false);
    }

    i {
        @include fixed-size(10%, 10%);
        @include fixed-position($top: 45%, $left: 45%, $origin: false);

        background: url('../images/ferris-cabin-1.png') center / contain no-repeat;
        display: block;

        &:nth-child(5n+1) { background-image: url('../images/ferris-cabin-1.png'); }
        &:nth-child(5n+2) { background-image: url('../images/ferris-cabin-2.png'); }
        &:nth-child(5n+3) { background-image: url('../images/ferris-cabin-3.png'); }
        &:nth-child(5n+4) { background-image: url('../images/ferris-cabin-4.png'); }

        @for $i from 1 through $cabin-count {
            @include keyframes(c-#{$i}) {
                $angle: (($i - 1) / $cabin-count * 360deg);
                $correction: (360deg / ($wheel-duration / 1s));
                from { @include transform(rotate($angle) translate(($cabins-width / 2)) rotate(-$angle)); }
                to { @include transform(rotate((360deg + $angle)) translate(($cabins-width / 2)) rotate((-360deg - $angle))); }
            }

            &:nth-child(#{$i}) { @include animation(c-#{$i} $wheel-duration linear infinite); }
        }
    }

    .text {
        @include fixed-size((290px / $base-em), (548px / $base-em));
        @include fixed-position($bottom: 0, $left: (200px / $base-em), $origin: false);
        background: url('../images/ferris-text.png') center bottom / contain no-repeat;
    }
}
