@import 'compass/css3/animation';
@import 'compass/css3/transform';
@import 'utilities';

body, html {
    margin: 0;
    padding: 0;
}

.scene {
    overflow: hidden;
}

.scene, .layer {
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}

.layer {
    .background {
        @include fixed-position($top: -5%, $left: -5%, $origin: false);
        @include fixed-size(110%, 110%);
        background: url('../assets/bg-cloud.png') center / cover no-repeat;
    }

    .roller-coaster {
        @include fixed-element('bg-rollercoaster.png');
        @include fixed-position($right: .03%, $bottom: .09%);
    }

    .balloon {
        @include fixed-element('bg-balloon.png');
        @include fixed-position($top: 38.1818182%, $right: 3.2926829%);
    }

    .elephant {
        @include fixed-element('bg-elephant.png');
        @include fixed-position($right: 25.1829268%, $bottom: -2%);
    }

    .zeppelin {
        @include fixed-element('bg-zeppelin.png');
        @include fixed-position($top: 21.5909091%, $right: 10.7926829%);
    }

    .ground {
        $height: 286px;

        background: url('../assets/bg-ground.png') bottom center / cover no-repeat;
        height: $height;
        width: 110%;

        @include fixed-position($bottom: -1em, $left: -5%, $origin: false);
        @include mobile-only { height: ($height * $mobile-ratio); }
        @include tablet-only { height: ($height * $tablet-ratio); }
        @include desktop-only { height: ($height * $desktop-ratio); }
    }

    .ferris-wheel {
        @include fixed-position($bottom: 0, $left: 8.8%);
        @include fixed-size(688px, 692px);
    }

    .ice-cream-stand {
        @include fixed-element('bg-icecream.png');
        @include fixed-position($right: 10%, $bottom: 28.8636364%);
    }

    .hot-balloon {
        @include fixed-element('bg-hotballoon.png');
        @include fixed-position($top: 15.7954545%, $left: 5.7926829%);
    }

    .plane {
        @include fixed-element('bg-plane.png');
        @include fixed-position($top: 8.9772727%, $right: 30.9146341%);
    }

    .stands {
        @include fixed-element('bg-stands.png');
        @include fixed-position($right: 51.2195122%, $bottom: -.5em);
    }

    .carousel {
        @include fixed-element('bg-carousel.png');
        @include fixed-position($right: 39.8902439%, $bottom: -.5em);
    }

    .tent {
        @include fixed-element('bg-tent.png');
        @include fixed-position($right: 19.8170732%, $bottom: -.5em);
    }

    .jrf-20 {
        @include fixed-element('bg-jrf20.png');
        @include fixed-position($right: 20.6707317%, $bottom: -.5em);
    }

    .left-bench {
        @include fixed-element('bg-benchleft.png');
        @include fixed-position($left: -5.304878%, $bottom: -.5em);
    }

    .right-bench {
        @include fixed-element('bg-benchright.png');
        @include fixed-position($right: 3.4878049%, $bottom: -.5em);
    }

    .popcorn {
        @include fixed-element('bg-popcorn.png');
        @include fixed-position($right: 17.195122%, $bottom: -.5em);
    }

    > :not(.fixed) {
        @include mobile-only { background-size: percentage($mobile-ratio); }
        @include tablet-only { background-size: percentage($tablet-ratio); }
        @include desktop-only { background-size: percentage($desktop-ratio); }
    }
}

.ferris-wheel {
    $wheel-duration: 30s;
    $cabin-count: 20;

    @include keyframes(wheel) {
        from { @include rotate(0deg); }
        to { @include rotate(360deg); }
    }

    .wheel {
        @include fixed-position(10%, 10%, 10%, 10%);
        @include animation(wheel $wheel-duration linear infinite);
        background: url('../assets/ferris-wheel.png') center / contain no-repeat;
    }

    .cabin {
        @include fixed-position(0, 0, 0, 0);
        @include animation(reverse-wheel $wheel-duration linear infinite);
    }

    i {
        background: url('../assets/ferris-cabin-1.png') center no-repeat;
        display: block;
        height: 10%;
        left: 45%;
        position: absolute;
        top: 45%;
        width: 10%;

        &:nth-child(5n+1) { background-image: url('../assets/ferris-cabin-1.png'); }
        &:nth-child(5n+2) { background-image: url('../assets/ferris-cabin-2.png'); }
        &:nth-child(5n+3) { background-image: url('../assets/ferris-cabin-3.png'); }
        &:nth-child(5n+4) { background-image: url('../assets/ferris-cabin-4.png'); }

        @for $i from 1 through $cabin-count {
            @include keyframes(c-#{$i}) {
                $angle: $i * 360deg / $cabin-count;
                from { @include transform(rotate($angle) translate(-50%) rotate(-$angle)); }
                to { @include transform(rotate($angle - 360deg) translate(-50%) rotate(-$angle -360deg)); }
            }

            &:nth-child(#{$i}) { @include animation(c-#{$i} $wheel-duration linear infinite); }
        }
    }

    .text {
        @include fixed-element('ferris-text.png');
        @include fixed-position($bottom: 0, $left: 29.116087%);
    }
}
