body, html {
    margin: 0;
    padding: 0;
}

.scene {
    overflow: hidden;
}

.scene, .layer {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

@mixin fixed-element($source-url) {
    $url: "../assets/" + $source-url;
    position: absolute;
    width: image-width(absolute-path($url));
    height: image-height(absolute-path($url));
    background: url($url) no-repeat;
}

.scene .layer {
    .background {
        position: absolute;
        width: 110%;
        height: 110%;
        top: -5%;
        left: -5%;
        background: url('../assets/bg-cloud.png') center / cover no-repeat;
    }

    .roller-coaster {
        @include fixed-element('bg-rollercoaster.png');
        right: 0.03%;
        bottom: 0.09%;
    }

    .balloon {
        @include fixed-element('bg-balloon.png');
        right: 3.2926829%;
        top: 38.1818182%;
    }

    .elephant {
        @include fixed-element('bg-elephant.png');
        right: 25.1829268%;
        bottom: -2%;
    }

    .zeppelin {
        @include fixed-element('bg-zeppelin.png');
        top: 21.5909091%;
        right: 10.7926829%;
    }

    .ground {
        position: absolute;
        width: 110%;
        height: 286px;
        left: -5%;
        bottom: -3.5%;
        background: url('../assets/bg-ground.png') center bottom no-repeat;
    }

    .ferris-wheel {
        @include fixed-element('ferris-wheel.png');
        left: 8.8%;
        bottom: 0;
    }

    .ice-cream-stand {
        @include fixed-element('bg-icecream.png');
        right: 10%;
        bottom: 28.8636364%;
    }

    .hot-balloon {
        @include fixed-element('bg-hotballoon.png');
        top: 15.7954545%;
        left: 5.7926829%;
    }

    .plane {
        @include fixed-element('bg-plane.png');
        top: 8.9772727%;
        right: 30.9146341%;
    }

    .stands {
        @include fixed-element('bg-stands.png');
        right: 51.2195122%;
        bottom: -0.5%;
    }

    .carousel {
        @include fixed-element('bg-carousel.png');
        right: 39.8902439%;
        bottom: -1%;
    }

    .tent {
        @include fixed-element('bg-tent.png');
        right: 19.8170732%;
        bottom: -1%;
    }

    .jrf-20 {
        @include fixed-element('bg-jrf20.png');
        right: 20.6707317%;
        bottom: -1.5%;
    }

    .left-bench {
        @include fixed-element('bg-benchleft.png');
        left: -5.304878%;
        bottom: -1.75%;
    }

    .right-bench {
        @include fixed-element('bg-benchright.png');
        right: 3.4878049%;
        bottom: -2%;
    }

    .popcorn {
        @include fixed-element('bg-popcorn.png');
        right: 17.195122%;
        bottom: -2%;
    }
}
